/* styles.css */

/* General styles */
body {
    background-color: rgb(157, 221, 200);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {

    margin-bottom: 20px;
}

.style1 {
    font-size: 30px;
    color: rgb(223, 70, 114);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.style2 {
    font-size: 30px;
    color: rgb(44, 7, 123);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.style3 {
    font-size: 30px;
    color: rgb(202, 146, 23);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.style4 {
    font-size: 30px;
    color: rgb(192, 48, 0);
    font-family:fantasy;
}